{% extends 'base.html' %}
{% block content %}



<div class="hero">
    <img src="/static/images/logo.jpg" class="logo">
    <h1 class="gold-title">ROCK FOUNDATION ACADEMY & COLLEGE</h1>
    <h2 class="subtitle">Official Online Admission Portal</h2>
    <p class="instruction">
        To Apply For Admission, Use The Menu Button And Select Apply.
    </p>
</div>

<div class="image-gallery">
    <img src="/static/images/upview.jpg">
    <img src="/static/images/secondary.jpg">
    <img src="/static/images/primary.jpg">
    <img src="/static/images/blue.jpg">
    <img src="/static/images/yellow.jpg">
</div>

{% endblock %}